# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# Output
output/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Environment
.env

# Tailwind build output
frontend/styles.css

# Site build
_site/
